.idea

*.tmp

# Word temporary
~$*.docx*

# Word Auto Backup File
Backup of *.docx*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.pptx*

# Visio autosave temporary files
*.~vsd*


/~$*.docx*
/~$*.pptx*
